<% content_for(:title_tag) do %>
  Modifier votre profil
<% end %>

<p>Bienvenue sur EventMe <%= current_user.first_name %> <%= current_user.last_name %> - Votre email : <%= current_user.email %></p>


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.file_field :avatars, multiple: true %>

   <%= f.submit %>

<% end %>






