<p>Bienvenue sur EventMe <%= current_user.first_name %> <%= current_user.last_name %> - Votre email : <%= current_user.email %></p>


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.file_field :avatars, multiple: true %>

   <%= f.submit %>

<% end %>

<h2>Photos Facebook du user</h2>

<% user_graph_api = Koala::Facebook::API.new(current_user["token"]) %>

<% data = user_graph_api.get_object("me?fields=photos{images}")["photos"]["data"] %>
<% data.each do |image| %>

<input type="checkbox" id='<%= image["id"] %>' />
<label for="<%= image["id"] %>"><%= image_tag("#{image["images"].first["source"]}", :alt => "profile pic", height: "150") %></label>

<% end %>
