<!-- Partial pour le titre de la page  -->
<% content_for(:title_tag) do %>
  Swipez les participants !
<% end %>

  <div class="container">

    <% @attendees.each do |attendee|%>
      <% if attendee != current_user %>
      <div class="attendee">
        <div class="attendee-photo">
          <p class="attendee-name text-center"><%= attendee.first_name %></p>
          <%= image_tag attendee.facebook_picture_url, class: "radius", width:300 %>
          <div class="swipe-dislike">
          <%= simple_form_for(@decision, remote: true) do |f| %>
          <%= f.input :decision_maker_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :decision_receiver_id, input_html: { value: attendee.id }, as: :hidden %>
          <%= f.input :like, input_html: { value: false }, as: :hidden %>
          <%= f.input :event_id, input_html: { value: attendee.current_event.id }, as: :hidden %>
          <%= f.input :pending, input_html: { value: true }, as: :hidden %>
            <button class="btn-fade"><%= image_tag 'croix.png',width:40 , id: "ajax-cross"%></button>
          <% end %>
          </div>
          <div class="swipe-like">
          <%= simple_form_for(@decision, remote: true) do |f| %>
          <%= f.input :decision_maker_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :decision_receiver_id, input_html: { value: attendee.id }, as: :hidden %>
          <%= f.input :like, input_html: { value: true }, as: :hidden %>
          <%= f.input :event_id, input_html: { value: attendee.current_event.id }, as: :hidden %>
          <%= f.input :pending, input_html: { value: true }, as: :hidden %>
            <button class="btn-fade"><%= image_tag 'heart.png',width:40 , id: "ajax-cross"%></button>
            <% end %>
          </div>
        </div>
        <div class="attendee-info">
        <% current_user.events.each do |event| %>
            <% if attendee.events.include?(event) && DateTime.parse(event.end_time) < Time.now %>
              <p class="attendee-common-events"><%= event.name %></p>
            <% end %>
        <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>


<% content_for(:jquerymobile) do %>
 <%= javascript_include_tag 'mobile' %>
<% end %>







