<div class="container">
  <% @matches.each do |match| %>
  <%= link_to match_path(match)  do %>
  <div class="match">
    <% if current_user == match.user_1 %>
        <%= image_tag match.user_2.facebook_picture_url, class: "avatar-large" %>
        <p class="text-center match-user-name"><%= match.user_2.first_name %></p>
        <p class="text-center match-user-event"><%= match.event.name %></p><br><br>
    <% else %>
        <%= image_tag match.user_1.facebook_picture_url, class: "avatar-large" %>
        <p class="text-center match-user-name"><%= match.user_1.first_name %></p>
        <p class="text-center match-user-event"><%= match.event.name %></p><br><br>
    <% end %>
  </div>
 <% end %>
 <% end %>
</div>
