<div class="container">
  <% if current_user == @match.user_1 %>
  <div class="conversations text-center">
    <%= image_tag @match.user_2.facebook_picture_url, class: "avatar-large" %>
    <p><%= @match.user_2.first_name %></p>
    <p>#<%= @match.event.name %></p>
  </div>
  <% else %>
  <div class="conversations text-center">
    <%= image_tag @match.user_1.facebook_picture_url, class: "avatar-large" %>
  </div>
  <% end %>
</div>

<div class="display-messages">
  <% @messages.each do |message| %>
  <% if current_user == message.sender %>
    <p style="background: black"><%= message.content %></p>
    <% else %>
        <p style="background: red"><%= message.content %></p>
    <% end %>
  <% end %>
</div>
<div id="chat-input">
  <%= simple_form_for [@match, @message] , html: {class: 'form-inline'}, remote: true , id: 'form-message' do |f| %>
      <%= f.input :content, placeholder: "Votre message", width:50%>
      <%= f.submit 'Envoyer', class: 'btn btn-primary', id: 'bnt-message' %>
  <% end %>
</div>
